<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

{% extends "base.html" %}
{% load i18n %}

{%block title %}Welcome{% endblock %}

{% block body %}
	{{ loginMessage }}
	<form action="/login/" method="POST">{% csrf_token %}
		username: 
		<input type="text" name="username" value="{{ username }}" /><br />
	
		password:
		<input type="password" name="password" value="" /><br />
		<input type="submit" value="Log In" /><br/>
		
	</form>
	<p>Join one of the biggest community in the world !</p>
	{{ regMessage }}
	<form action="/register/" method="POST">{% csrf_token %}
	
		<table>{{formReg.as_table}}</table>
		<input type="submit" value="register" />
	</form>
	<div>&nbsp;</div><br />
{% endblock %}
</html>