<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% extends "index.html" %}
{% load i18n %}

{%block title%}Project AllThink{%endblock%}

{%block account%}
	<li><strong>{{ username }}</strong>
	<strong><a href="/logout/">logout</strong></a></li>
{%endblock%}

{%block body%}	
	<h1 id="site-name">Other Lessons</h1>
	<form action="/search_lessons/" method="POST">{% csrf_token %}
		<input type="text" name="keyWord" value="{{keyWord}}" />
		<input type="submit" value="Search" /><br/>
		
	</form>
	{% for lesson in otherLessons %}
	<h4>
		<a href="/lessons/view_page/{{ lesson.id }}/0">{{ lesson.name }}</a>
		Creator: {{ lesson.user }}
		<a href="/join_lesson/{{ lesson.id }}/{{keyWord}}">Join</a>
	</h4>
	{% endfor %}
	
{%endblock%}
</html>