<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% extends "index.html" %}
{% load i18n %}

{%block title%}Project AllThink{%endblock%}

{%block account%}
	<li><strong>{{ username }}</strong>
	<strong><a href="/logout/">logout</strong></a></li>
{%endblock%}

{%block body%}	
	<h1 id="site-name">Your Lessons</h1>
	{% for lesson in yourLessons %}
		<h4>
			<a href="/lessons/edit_lesson/{{ lesson.id }}/">{{ lesson.name }}</a>
			<a href="/lessons/delete_lesson/{{ lesson.id }}/">delete</a>
		</h4>
	{% endfor %}
	<a href="/lessons/new_lesson">add new lesson</a>
	
{%endblock%}
</html>