<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% extends "index.html" %}
{% load i18n %}

{%block title%}Project AllThink{%endblock%}
{%block profile%}
{%endblock%}
{%block body%}	
	<h1 id="site-name">ALLTHINK HELP</h1>
	There is nothing We can't do, there is nothing We won't do for you
	<div class="nav nav-list">
	<li class="divider"></li>	
	</div>
	
	<h3>I.	How to use ALLTHINK?</h3>
	
	<h5>
	It's very easy to use this application!</br>
	This is interface of ALLTHINK:</br>
	</h5>
	<img src="/static/image001.gif" />
	<h5>
*	If you had an account just fill username and password then click   button Login to start using this application. If not you need to register following steps:<br/>
1.	Fill username which you want to use.<br/>
2.	Fill password and confirm.<br/>
3.	Provide your email to contact.<br/>
4.	Click button register.<br/>
	</h5>
	<img src="/static/image002.gif" />
	<h5><p style ="color:blue;">Now let's start  with  ALLTHINK !</p></h5>
	<img src="/static/image003.gif" />
	<h3>II.	How to use main functions of ALLTHINK?</h3>
	
	<h5><p style ="color:blue;">1.	Manage account:</p>
It includes two tags : Profile an File Manager.</br>
<p style ="color:blue;">*	Profile allows user provides theirs own information and upload avatar:</p>
	<img src="/static/image004.gif" />
-	To upload avatar user just need follow steps:</br>
-	Click button Browse.</br>
-	Choose an image in computer.</br>
_	Click Save to finish.</br> 
	</h5>
	<img src="/static/image006.gif" />
	<h5><p style ="color:blue;">*	File manager allows user can upload documents:</p>
-	Click the button Browse.<br/>
-	Chose file to upload.<br/>
-	Click upload to finish.<br/>
-	Click button x to delete uploaded file.<br/>
	</h5>
	<img src="/static/" />
	
	<h5><p style ="color:blue;">2.	lesson manager:</p>
It includes two tags: Your lesson and lesson joined.</br>
<p style ="color:blue;">*	Your lesson allows user views all their lesson and add new lesson.</p>
	<img src="/static/image010.gif" /></br>
	Then it open new page allows user can Edit lesson.<br>
	Where you can add video page, image page, document page, text page or step to step page.</br>
	</h5>
	<img src="/static/12.jpg" />
	<h5><p style ="color:blue;">*	Tag lesson joined shows what lesson user joined:</p>
	</h5>
	<img src="/static/image019.gif" />

	<h5><p style ="color:blue;">3.	Searching:</p>
This application allows user can find lesson by Search tool:</br>
	<img src="/static/image020.gif" />

	<img src="/static/image021.gif" />

{%endblock%}

{%block widget%}
{%endblock%}
</html>