<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% extends "index.html" %}

{% load i18n %}

{%block title%}Create Lesson{%endblock%}
{%block body%}
	<form action="/lessons/new_lesson/" method="post" >{% csrf_token %}
		<div><a href="/">Back</a></div>
		<div>{{ message }}</div>
		Lesson's name: 
		<div></div>
		<input type="text" name="lessonName" value="{{ lessonName }}" /><br />
		Lesson's information:
		<div></div>
		<textarea name="information" rows ='10' cols='40' value="{{ information }}" ></textarea><br />
		<input type="submit" value="create" />
	</form>
{%endblock%}

</html>
