<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% extends "index.html" %}

{% load i18n %}
{%block title%}Lesson {{ page.lesson.lessonName }}{%endblock%}

{%block body%}
	{% if page.lesson.user.username == username %}
		<a href="/lessons/edit_lesson/{{lessonID}}/">Back</a>
	{% endif %}
	Lesson: {{ page.lesson.lessonName }}
	<div></div>
	Infomation: {{ page.lesson.information }}
	<br></br>
	Page: {{page.title}}
	<div></div>
	{{page.text}}
	<div></div>
	{% if page.type == 'video' %}
		<object style="height: 400px; width: 650px">
			<param name="movie" value="http://www.youtube.com/embed/{{page.linkID}}">
			<param name="allowFullScreen" value="true">
			<param name="allowScriptAccess" value="always">
			<iframe width="560" height="315" src="http://www.youtube.com/embed/{{page.linkID}}" frameborder="0" allowfullscreen></iframe>
		</object>
	{% endif%}
	{% if page.type == 'image' %}
		<img src="{{page.link}}"/> 
	{% endif%}
	{% if page.type == 'document' %}
		<iframe src="http://docs.google.com/gview?url=http://127.0.0.1:8000{{page.link}}&embedded=true" style="width:600px; height:500px;" frameborder="0">
		</iframe>
	{% endif%}
	{% if page.type == 'step' %}
		{% if page.step1 %}
			{{page.step1}}
			{{page.explanation1}}
		{%endif%}
		<br></br>
		{% if page.step2 %}
			{{page.step2}}
			{{page.explanation2}}
		{%endif%}
		<br></br>
		{% if page.step3 %}
			{{page.step3}}
			{{page.explanation3}}
		{%endif%}
		<br></br>
		{% if page.step4 %}
			{{page.step4}}
			{{page.explanation4}}
		{%endif%}
		<br></br>
		{% if page.step5 %}
			{{page.step5}}
			{{page.explanation5}}
		{%endif%}
		<br></br>
		{% if page.step6 %}
			{{page.step6}}
			{{page.explanation6}}
		{%endif%}
		<br></br>
		{% if page.step7 %}
			{{page.step7}}
			{{page.explanation7}}
		{%endif%}
		<br></br>
		{% if page.step8 %}
			{{page.step8}}
			{{page.explanation8}}
		{%endif%}
		<br></br>
		{% if page.step9 %}
			{{page.step9}}
			{{page.explanation9}}
		{%endif%}
		<br></br>
		{% if page.step10 %}
			{{page.step10}}
			{{page.explanation10}}
		{%endif%}
		<br></br>
		{% if page.step11 %}
			{{page.step11}}
			{{page.explanation11}}
		{%endif%}
		<br></br>
		{% if page.step12 %}
			{{page.step12}}
			{{page.explanation12}}
		{%endif%}
		<br></br>
		{% if page.step13 %}
			{{page.step13}}
			{{page.explanation13}}
		{%endif%}
		<br></br>
		{% if page.step14 %}
			{{page.step14}}
			{{page.explanation14}}
		{%endif%}
		<br></br>
		{% if page.step15 %}
			{{page.step15}}
			{{page.explanation15}}
		{%endif%}
		<br></br>
		{% if page.step16 %}
			{{page.step16}}
			{{page.explanation16}}
		{%endif%}
		<br></br>
		{% if page.step17 %}
			{{page.step17}}
			{{page.explanation17}}
		{%endif%}
		<br></br>
		{% if page.step18 %}
			{{page.step18}}
			{{page.explanation18}}
		{%endif%}
		<br></br>
		{% if page.step19 %}
			{{page.step19}}
			{{page.explanation19}}
		{%endif%}
		<br></br>
		{% if page.step20 %}
			{{page.step20}}
			{{page.explanation20}}
		{%endif%}
	{% endif%}
	{% if nextPage %}
		<div><a href="/lessons/view_page/{{lessonID}}/{{ nextPage }}/">Next page</a></div>
	{%endif%}
	{%for i in listPage %}
		<div><a href="/lessons/view_page/{{lessonID}}/{{ i.pageNumber }}/">{{ i.type }} {{ i.title}}</a></div>
	{%endfor%}
{%endblock%}
