<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="styles.css" />
<link rel="stylesheet" href="text.css" />
<link rel="stylesheet" href="960.css" />

<head>	
{%block title %}{%endblock%}
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
</head>

{%block account %}{%endblock%}
</head><body>
<div id="header">
<div class="container_12">
   <div class="grid_6">
        <div class=" logo">
        <a target="_blank" href="">
           <img src="img/logo.png" alt="logo" />
        </a></div></div>
   <div class="grid_6">
        <div class="search"> 
        <form method="post" action="handler.php">
            <input name="textfield" type="text" class="colortext"  value="  Search" />
        </form>
        </div>
       <div class="search"> 
            <form  action="handler.php">
                <input type="image" class="colortext1" src="img/button.png" alt="img" />
            </form>
	   </div>
	</div>
</div>
</div>
<div id="line"><p class="line1"></p></div>
<div id="navigation">
<div class="container_12">
<div class="grid_12 top">
    <ul class="nav">
	<li><a href="#"><strong>HOME</strong></a></li>
	<li><a href="#"><strong>NEWS</strong></a></li>
	<li><a href="#"><strong>TUTORIAL</strong></a></li>
	<li><a href="#"><strong>FAQ</strong></a></li>
	<li><a href="#"><strong>PROFILE</strong></a></li>
    </ul>
</div>
</div>
</div>
<div class="silver">
{% block body %}{% endblock%}

<div id="middle"><div class="layout">
<div class="col1"><div class="wrap"><p class="line1"></p></div></div>
<div class="col2"><span class="text6">More about us</span></div>
<div class="col3"><div class="wrap"><p class="line1"></p></div></div></div>
</div>

<div id="grey1">
<div class="container_12">
<div class="grid_12 four"></div>
<div class="grid_3"><span class="text10">Boasting</span></div>
<div class="grid_3"><span class="text9">Boasting </span></div>
<div class="grid_3"><span class="text8">Boasting</span></div>
<div class="grid_3"><span class="text7">Boasting</span></div>
<div class="grid_3"><p class="text3">Any paragraph.</p></div>
<div class="grid_3"><p class="text3">Any paragraph.</p></div>
<div class="grid_3"><p class="text3">Any paragraph.</p></div>
<div class="grid_3"><p class="text3">Any paragraph.</p></div>
<div class="grid_12 four"></div>
</div>
</div>

<div id="line2"><p class="line1"></p></div>
<div id="facebook">
<div class="container_12">
<div class="grid_3">
    <img src="img/10.png" alt="img" />
</div>
<div class="grid_9">
    <img class="image3" src="img/f1.png" alt="img" />
	<img src="img/f2.png" class="image"  alt="img" />
	<img src="img/f3.png" class="image"  alt="img" />
	<img src="img/f4.png" class="image"  alt="img" />
	<img src="img/f5.png" class="image"  alt="img" />
	<img src="img/f6.png" class="image" alt="img" />
	<img src="img/f7.png" class="image" alt="img" />
	<img src="img/f8.png"  class="image" alt="img" />
	<img src="img/f9.png"  class="image" alt="img" />
	<img src="img/f10.png"  class="image" alt="img" />
	<img src="img/f11.png"  class="image" alt="img" />
	<img src="img/f4.png"  class="image" alt="img" />
	<img src="img/f5.png"  class="image" alt="img" />
	<img src="img/f6.png" class="image"  alt="img" />
	<img src="img/f7.png" class="image"  alt="img" />
	<img src="img/f8.png"  class="image" alt="img" />
	<img src="img/f9.png" class="image" alt="img" />
	<img src="img/f10.png"  class="image" alt="img" />
</div>
<div class="grid_12 fase"></div>
<div class="grid_1"><img src="img/12.png" alt="img" /></div>
<div class="grid_5"><p class="text11">Compliment.<br /><br /><strong>Dave Donovan, MEC Student</strong></p></div>
<div class="grid_1"><img src="img/12.png" alt="img" /></div>
<div class="grid_5"><p class="text11">Compliment.<br /><br /><strong>John Doe, MEC Student</strong> </p></div>

</div>
</div>
<div id="line"><p class="line1"></p></div>
<div id="footer"><div class="container_12"><div class="grid_6 "><div> <img class="logo2" src="img/13.png" alt="img" /></div>

<div class="vlinks"><a href="http://www.webdesign.org">Web design</a> by <a title="Free Templates Online" href="http://www.freetemplatesonline.com">Free Templates</a> Online</div>

<div class="text12">© 2001-2011 All Rights Reserved</div></div>


<div class="grid_2">
<div class="news">MEC News</div>
<div class="blue"><a target="_blank" href="">Overview</a></div>
<div class="blue"><a target="_blank" href="">Store</a></div>
<div class="blue"><a target="_blank" href="">Hosting</a></div>
<div class="blue"><a target="_blank" href="">Videos</a></div>
</div><div class="grid_2">
<div class="news">Resources</div>
<div class="blue"><a target="_blank" href="">Overview</a></div>
<div class="blue"><a target="_blank" href="">Store</a></div>
<div class="blue"><a target="_blank" href="">Hosting</a></div>
<div class="blue"><a target="_blank" href="">Videos</a></div>
</div><div class="grid_2">
<div class="news">Contact Us</div>
<div class="blue"><a target="_blank" href="">Support</a></div>
<div class="blue"><a target="_blank" href="">FAQ</a></div>
<div class="blue"><a target="_blank" href="">Forum</a></div>
<div class="blue"><a target="_blank" href="">Privacy Policy</a></div></div>
</div>
</div>
</div>

</body>
</html>
