<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% extends "base.html" %}
{% load i18n %}

{%block title%}Project AllThink{%endblock%}

{%block account%}
	{{ username }}
	<a href="/logout/">logout</a>
{%endblock%}

{%block body%}	
	  <h1>Welcome</h1>

			<p><strong>Congratulation!!!</strong><br/>
				You have just found the best education website ever !
			</p>
			<div></div>
			<div></div>
			<div></div>
			<h1 id="site-name">Your Lessons</h1>
			{% for lesson in yourLessons %}
				<h2>
					<a href="/lessons/edit_lesson/{{ lesson.id }}/">{{ lesson.lessonName }}</a>
					<a href="/lessons/delete_lesson/{{ lesson.id }}/">delete</a>
				</h2>
			{% endfor %}
			<a href="/lessons/new_lesson">add new lesson</a>
			<h1 id="site-name">Other Lessons</h1>
			{% for lesson in otherLessons %}
			<h2>
				<a href="/lessons/view_page/{{ lesson.id }}/0">
					{{ lesson.lessonName }}
				</a>
				Creator: {{ lesson.user }}
			</h2>
			{% endfor %}
	
{%endblock%}
</html>