<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
 <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
 <title>Project AllThink</title>
 <link href="/static/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="title" style="">
	 <h3>Education Heaven</h3>
	</div>
	
	<div id="container">
	
	 <div id="sidebar">
	  <div id="menu">
	   <h1>Main menu</h1>
	   <a href="/">Home</a><br />
	   <a href="#">About Us</a><br />
	   <a href="#">News</a><br />
	   <a href="#">Contact Us</a><br />
	   <a href="#">Links</a><br/>
           <a href="/lessons/new_lesson">Lessons</a>
	   
	  </div>
	 </div>
	
	 <div id="content">
	
	  <h1>Welcome</h1>

	   <p><strong>Congratulation!!!</strong><br/>
              You have just found the best education website ever !
           </p>
	  <div>&nbsp;</div><br />
			{{ username }}
			<a href="/logout/">logout</a>
			<div></div>
			<div></div>
			<div></div>
			<h1 id="site-name">Your Lessons</h1>
			{% for lesson in yourLessons %}
			<h2>
				<a href="/lessons/edit_lesson/{{ lesson.id }}/">{{ lesson.lessonName }}</a>
									
				<a href="/lessons/delete_lesson/{{ lesson.id }}/">delete</a>
			</h2>
			{% endfor %}
			<a href="/lessons/new_lesson">add new lesson</a>
			<h1 id="site-name">Other Lessons</h1>
			{% for lesson in otherLessons %}
			<h2>
				<a href="/lessons/view_lesson/{{ lesson.id }}">
					{{ lesson.lessonName }}
				</a>
				Creator: {{ lesson.user }}
			</h2>
			{% endfor %}
	
	 </div>
	</div>

</body>

</html>

