<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
 <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
 <title>Project AllThink</title>
 <link href="/static/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="grey">
<div class="container_12">
<div class="grid_12 grey"></div>
<div class="grid_7"><p>This should be a link to tutorial video.</p>
<!--<img src="img/03.png" alt="img" />-->
<iframe width="540" height="315" src="http://www.youtube.com/embed/kBdfcR-8hEY" frameborder="0" allowfullscreen></iframe>
</div>

<div class="grid_5">
<div class="mec"><p class="text1"><u><a href="">MEC News</a></u></p></div>
<div class="rss"><p><a target="_blank" href=""><img src="img/04.png" alt="img" /></a></p></div>  
<div class="clear"></div>

<div class="mec"><img src="img/05.png" alt="img" /></div>
<div><p class="text3">November, 23</p></div>
<div><p class="text3">Lecture by Prof John Hardinge.Justice:What is the right thing to do ?See<a href=""> more</a></p></div>

<div class="clear"></div>

<div class="mec"><img src="img/06.png" alt="img" /></div>
<div><p class="text3">August, 12</p></div>
<div><p class="text3">Fashion:How to make yourself look gorgeous.See<a href=""> more</a></p></div>
<div class="clear"></div>

<div class="mec"><img src="img/07.png" alt="img" /></div>
<div><p class="text3">August, 12</p></div>
<div><p class="text3">How to motivate yourself in class.See<a href=""> more</a></p></div>
</div>

<div class="clear"></div>
<div class="grid_12 modern"></div>
<div class="grid_4 jhon"><p class="text">
    <span class="text4">John Arthur Doe</span><br />
    <span class="text5">Professor of Philology</span></p>
</div>
<div class="gird_8"><p class="text5"><br /><br />Day had now given away to night and as we 
wandered along the great avenue lighted by the two moons of Barsoom, 
and with Earth looking down upon us out of her luminous green eye, it seemed that 
we were alone in the universe, and I, at least, was content that it should be so.</p></div>
<div class="grid_12 modern1"></div>
<div class="grid_4 jhon">
</div>
</div>
</div>
</body>

</html>

