<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>All Think - group 9</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <link href="/static/main.css" rel="stylesheet" type="text/css" />
</head>
<body>	
<form action="/index/" method="post">		
  {{ username }}		
  <a href="/logout/">logout</a>		
<div></div>		
<div></div>		
<div></div>		

</form>
	<div id="title" style="">
	 <h3>Education heaven!</h3>
	</div>
	
	<div id="container">
	
	 <div id="sidebar">
	  <div id="menu">
	   <h1>Main menu</h1>
	   <a href="#">Home</a><br />
	   <a href="#">About Us</a><br />
	   <a href="#">News</a><br />
	   <a href="#">Contact Us</a><br />
	   <a href="#">Links</a>
	   
	  </div>
	 </div>
	
	 <div id="content">
	
	  <h1 id="site-name">Your Lessons</h1>	
            {% for lesson in yourLessons %}		
               <h2><a href="/lessons/edit_lesson/{{ lesson.id }}/">{{ lesson.lessonName }}</a>
                 <a href="/lessons/delete_lesson/{{ lesson.id }}/">delete</a>		
               </h2>		
             {% endfor %}		
          <a href="/lessons/new_lesson">add new lesson</a>		
          <h1 id="site-name">Other Lessons</h1>		
          {% for lesson in otherLessons %}		
          <h2><a href="/lessons/view_lesson/{{ lesson.id }}">				
            {{ lesson.lessonName }}</a>
            Creator: {{ lesson.user }}</h2>		
          {% endfor %}	


	  <div>&nbsp;</div><br />

	
	 </div>
	</div>
	<div id="footer">
	</div>

</body>
</html>